body,
html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
}

#linkperfil {
    text-decoration: none;
    color: black;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}


.material-symbols-outlined {
    font-size: 35px;
    margin-right: 70px;
}

#logo {
    width: 10%;
}

.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    padding-right: 50px;
    padding-left: 50px;
}


.circle {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    background-color: #106FFF;
    border-radius: 50px;
}

.txt1 {
    max-width: 400px;

}

.txt2 {
    max-width: 500px;
}

h1 {
    font-family: Ubuntu, sans-serif;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

#pdif {
    font-size: 13px;
    font-weight: 400;
}

.subtxt {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tudo2 {
    max-width: 500px;
    margin-left: 50px;
}

#foto {
    max-width: 100%;
    min-width: 300px;
    border-radius: 50px;
    box-shadow: 2px 4px 10px rgb(206, 206, 206);
}

hr {
    max-width: 500px;
    margin-right: 80px;
}


.sec2 {
    margin-top: 100px;
    background-color: #0049FF;
    padding-top: 5px;
    min-height: 100%;
}


.titulo-sec2 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 7vh;
}

select {
    padding: 10px;
    border: none;
    background: linear-gradient(45deg, #253fb6 0%, #293ad6 28%, #2c6dd5 91%, #2c6dd5 100%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

select option {
    color: black;
    border: none;
}

#buscar {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.caixas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.caixastotal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#inp {
    min-width: 40%;
    border: none;
    background: linear-gradient(45deg, #5e73cf 0%, #293ad6 28%, #2c6dd5 91%, #2c6dd5 100%);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 15px;
}

#inp:focus {
    outline: none;
}

#inp::placeholder {
    color: rgb(255, 255, 255);
}

.material-icons {
    color: white;
}

.cuidcard {
    width: 200px;
    height: 370px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

#cuidft {
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

h2 {
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

h4 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: rgb(78, 78, 78);
}


#saiba {
    border: none;
    padding: 7px;
    background-color: blue;
    color: white;
    font-family: Ubuntu, sans-serif;
    border-radius: 5px;
}

#pdif {
    text-align: justify;
}

.txtcard {
    height: 120px;
    text-align: center;
}

.cuidadores2 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cuidadores1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 50px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 70px;
    background-color: rgb(88, 88, 88);
    color: white;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(163, 226, 255);
}

#caixa-resultados {
    display: none;
}

#caixa-resultados ::-webkit-scrollbar {
    width: 5px;
}

#caixa-resultados ::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #2c6dd5;
}

#caixa-resultados ul {
    list-style: none;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    padding: 0;
}

#caixa-resultados ul li {
    padding: 4%;
}

#caixa-resultados #semResultados {
    font-family: Roboto, sans-serif;
    padding: 4%;
}

#semResultados #caixa-resultados {
    width: 41.8%;
}

#caixa-resultados ul li:hover {
    background-color: #E0EDFE;
    cursor: pointer;
    transition: 0.5s;
}

#inp:focus {
    outline: none;
}



@media (max-width: 800px) {
    .sec1 {
        display: block;
    }

    .tudo2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 50px;
    }

    .caixas {
        width: 80%;
        display: block;
    }

    #selecao {
        width: 80%;
        margin-top: 10px;
        margin-left: 25px;
    }

    .material-symbols-outlined {
        font-size: 35px;
        margin-right: 30px;
    }

}