*{
    margin: 0;
    border: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: #00BF8C;
}

@font-face {
    font-family: Archivo Balck;
    src: url();
}


@media screen and (max-width: 450px){

    /* -Cabeçalho- */
    #cabecalho{
        display: flex;
        align-items: center;
        height: 100px;
        font-family: 'Inter', sans-serif;
    }

    #perfil{
        background-color: rgb(187, 187, 187);
        padding: 3%;
        margin: 2% 4% 2% 4%;
        border-radius: 50%;
    }
    #perfil span{
        font-size: 40px;
        color: gray;
    }
    #nNome{
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    #nCadastro{
        font-size: 12px;
        font-weight: bold;
        color: white;
    }


    /* -Principal- */
    main{
        
        border-radius: 30px 30px 0px 0px;
        padding: 2% 0% 0% 8%;
        background-color: #e5f8e7;
        height: 100vh;
        align-items: center;
        font-family: 'Inter', sans-serif;
    }

    .box{
        display: flex;
        align-items: center;
        margin-top: 10%;
    }

    .box p{
        font-size: 15px;
        color: #585858;
        font-weight: bold;
    }

    a{
        text-decoration: none;
    }

    .icons{
        padding: 2.5%;
        color: white;
        background-color: #00BF8C;
        border-radius: 50%;
        margin-right: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icons span{
        font-size: 30px;
    }
}

/* -Tablet ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 451px) and (max-width: 960px){

    /* -Cabeçalho- */
    #cabecalho{
        display: flex;
        align-items: center;
        height: 100px;
        font-family: 'Inter', sans-serif;
        margin-top: 1%;
        padding: 0% 1% 0% 1%;
    }

    #perfil{
        background-color: rgb(187, 187, 187);
        padding: 2%;
        margin: 2% 2% 2% 4%;
        border-radius: 50%;
    }
    #perfil span{
        font-size: 40px;
        color: gray;
    }
    #nNome{
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    #nCadastro{
        font-size: 12px;
        font-weight: bold;
        color: white;
    }


    /* -Principal- */
    main{
        border-radius: 30px 30px 0px 0px;
        padding: 2% 0% 40% 5%;
        margin: 2% 5% 0% 5%;
        background-color: #e5f8e7;
        height: 100vh;
        align-items: center;
        font-family: 'Inter', sans-serif;
    }

    .box{
        display: flex;
        align-items: center;
        margin-top: 6%;
    }

    a{
        text-decoration: none;
    }

    .box p{
        font-size: 15px;
        color: #585858;
        font-weight: bold;
    }

    .icons{
        padding: 2%;
        color: white;
        background-color: #00BF8C;
        border-radius: 50%;
        margin-right: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icons span{
        font-size: 30px;
    }
}


/* -Desktop ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 961px){

    /* -Cabeçalho- */
    #cabecalho{
        display: flex;
        align-items: center;
        height: 100px;
        font-family: 'Inter', sans-serif;
        margin-top: 1%;
        padding: 0% 1% 0% 1%;
    }

    #nNome{
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    #nCadastro{
        font-size: 12px;
        font-weight: bold;
        color: white;
    }


    /* -Principal- */
    main{
        border-radius: 30px 30px 0px 0px;
        padding: 50px 0% 5% 60px;
        margin: 2% 20% 0% 20%;
        background-color: #e5f8e7;
        height: 100vh;
        align-items: center;
        font-family: 'Inter', sans-serif;
    }

    .box{
        display: flex;
        margin: 5% 0 5% 0;
    }

    a{
        text-decoration: none;
    }

    .box p{
        margin-top: 1.5%;
        font-size: 16px;
        color: #585858;
        font-weight: bold;
    }

    .icons{
        padding: 1%;
        color: white;
        background-color: #00BF8C;
        border-radius: 50%;
        margin-right: 1.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icons span{
        font-size: 30px;
    }

    /*foto de perfil*/
    .boxfoto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 2%;
        margin-left: 2%;
    }
    
    .w-100{
        width: 70px;
    }
    
    .h-100{
        height: 70px;
    }
    
    .m-2{
        margin: 12px;
    }
    
    .p-4{
        padding: 2px;
    }

    #image-preview{
        width: 100%;
        height: 100%;
    }
    
    /**/
    #form-form{
        & .image-upload{
            position: relative;
            width: 70px;
            height: 70px;
            border: 2px solid white;
            border-radius: 100%;
            box-shadow: 2px 3px 12px #00000060;
            overflow: hidden;
        }
    
        & .image-upload img{
            object-fit: cover;
        }
    
        & .image-upload i{
            position: absolute;
            margin: 0 auto;
            font-size: 70px;
            color: green;
        }
    
        & #image-field{
            position: absolute;
            margin: 0 auto;
            width: 70px;
            height: 70px;
            opacity: 0;
        }
    }
}
