@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    top: 0;
}

body {
    background-color: #E0EDFE;
}

@media screen and (max-width: 451px) {

    main{
        display: flex;
        flex-direction: column;
    }

    .titulo {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 5%;
        margin-top: 10%;
    }

    #bandcartao{
        margin-top: 15%;
    }

    #cartao{
        width: 40px;
    }

    #seta {
        width: 70%;
    }

    .caixa-op{
        margin-top: 15%;
        margin-left: 5%;
        background-color: #106FFF;
        border-radius: 10px;
        width: 90%;
        height: 34%;
    }

    label{
        display: flex;
        padding: 5%;
    }

    .radio{
        appearance: none;
        width: 1.6em;
        height: 1.6em;
        margin-top: 5%;
        margin-left: 1%;
        border-radius: 50%;
        outline: none;
        border: 2px solid white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 200ms ease-in-out; 
    }

    .radio::before{
        content: '';
        position: absolute;
        width: 0.7em;
        height: 0.7em;
        background-color: white;
        border-radius: 50%;
        opacity: 0;
        transition: all 400ms ease-in-out; 
    }
    
    .radio:checked::before{
        opacity: 1;
    }

    .radio:focus{
        box-shadow: 0 0 5px rgb(254, 254, 254);
    }

    .formapag{
        background-color: #EFE3E3;
        margin-left: 3%;
        padding: 3%;
        border-radius: 50%;
    }

    .nomeforma{
        margin-left: 5%;
        margin-top: 5%;
    }

    .linha{
        height: 3px;
        background-color: white;
    }

    .detalhespag{
        width: 90%;
        padding: 1%;
        margin-top: 15%;
        margin-left: 4%;
        background-color: #F8F8F8;
        border-radius: 10px;
        box-shadow: 0px 5px 15px #999;
    }

    button{
        margin-top: 20%;
        margin-left: 23%;
        width: 53%;
        padding: 2.5%;
        background-color: #106FFF;
        color: white;
        border: none;
        border-radius: 20px;  
        box-shadow: 0px 5px 15px #999; 
    }

    #details{
        margin-top: 5%;
        margin-left: 2%;
        line-height: 25px;
    }

    #details h3{
        color: #585858;
    }

    #details p:not(#custo){
        color: #797979;
    }

    #valores{
        display: flex;
    }

    #custo{
        margin-left: 5px;
        font-weight: bold;
        color: #2B7A1F;
    }

    h2{
        font-family: 'Inter';
        color: #585858;
        margin-bottom: 2%;
    }

    h3{
        font-family: 'Inter';

    }

    .caixa-op h3{
        font-family: 'Inter';
        color: white;
        font-weight: normal;
    }


    p{
        font-family: 'Inter';
        color: #DEDEDE;
        font-weight: normal; 
    }
}

@media screen and (min-width: 451px) and (max-width: 1150px)
{

    main{
        display: flex;
        flex-direction: column;
    }

    .titulo {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 5%;
        margin-top: 10%;
    }

    #bandcartao{
        margin-top: 15%;
    }

    #cartao{
        width: 40px;
    }

    #seta {
        width: 70%;
    }

    .caixa-op{
        margin-top: 10%;
        margin-left: 15%;
        background-color: #106FFF;
        border-radius: 10px;
        width: 70%;
        height: 65%;
    }

    label{
        display: flex;
        padding: 5%;
    }

    .radio{
        appearance: none;
        width: 1.6em;
        height: 1.6em;
        margin-top: 5%;
        margin-left: 1%;
        border-radius: 50%;
        outline: none;
        border: 2px solid white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 200ms ease-in-out; 
    }

    .radio::before{
        content: '';
        position: absolute;
        width: 0.7em;
        height: 0.7em;
        background-color: white;
        border-radius: 50%;
        opacity: 0;
        transition: all 400ms ease-in-out; 
    }
    
    .radio:checked::before{
        opacity: 1;
    }

    .radio:focus{
        box-shadow: 0 0 5px rgb(254, 254, 254);
    }

    .formapag{
        background-color: #EFE3E3;
        margin-left: 3%;
        padding: 3%;
        border-radius: 50%;
    }

    .nomeforma{
        margin-left: 5%;
        margin-top: 4%;
    }

    .linha{
        height: 3px;
        background-color: white;
    }

    .detalhespag{
        width: 50%;
        padding: 1%;
        margin-left: 24%;
        margin-top: 10%;
        background-color: #F8F8F8;
        border-radius: 10px;
        box-shadow: 0px 5px 15px #999;
    }

    button{
        margin-top: 10%;
        margin-left: 35.5%;
        width: 25%;
        padding: 2.5%;
        background-color: #106FFF;
        color: white;
        border: none;
        border-radius: 20px;  
        box-shadow: 0px 5px 15px #999; 
    }

    #details{
        margin-top: 5%;
        margin-left: 2%;
        line-height: 25px;
    }

    #details h3{
        color: #585858;
    }

    #details p:not(#custo){
        color: #797979;
    }

    #valores{
        display: flex;
    }

    #custo{
        margin-left: 5px;
        font-weight: bold;
        color: #2B7A1F;
    }

    h2{
        font-family: 'Inter';
        color: #585858;
        margin-bottom: 2%;
    }

    h3{
        font-family: 'Inter';

    }

    .caixa-op h3{
        font-family: 'Inter';
        color: white;
        font-weight: normal;
    }


    p{
        font-family: 'Inter';
        color: #DEDEDE;
        font-weight: normal; 
    }
}

@media screen and (min-width: 1151px){

    html{
        height: 100%;
    }

    body{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    main{
        display: flex;
        flex-direction: row;
    }

    .titulo {
        width: 49%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 5%;
        margin-top:3%;
    }

    #bandcartao{
        margin-top: 15%;
    }

    #cartao{
        width: 40px;
    }

    #seta {
        width: 70%;
    }

    .caixa-op{
        margin-top: 3%;
        background-color: #106FFF;
        border-radius: 0px 20px 20px 0px;
        width: 50%;
    }

    label{
        display: flex;
        padding: 5%;
    }

    .radio{
        appearance: none;
        width: 1.6em;
        height: 1.6em;
        margin-top: 5%;
        margin-left: 1%;
        border-radius: 50%;
        outline: none;
        border: 2px solid white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 200ms ease-in-out; 
    }

    .radio::before{
        content: '';
        position: absolute;
        width: 0.7em;
        height: 0.7em;
        background-color: white;
        border-radius: 50%;
        opacity: 0;
        transition: all 400ms ease-in-out; 
    }
    
    .radio:checked::before{
        opacity: 1;
    }

    .radio:focus{
        box-shadow: 0 0 5px rgb(254, 254, 254);
    }

    .formapag{
        background-color: #EFE3E3;
        margin-left: 3%;
        padding: 3%;
        border-radius: 50%;
    }

    .nomeforma{
        margin-left: 5%;
        margin-top: 4%;
    }

    .linha{
        height: 3px;
        background-color: white;
    } 

    .coluna2{
        display: flex;
        flex-direction: column;
        margin-right: 15%;
        height: 100%;
    }

    .detalhespag{
        margin-left: 60%;
        margin-top: -39%;
        padding: 5%;
        width: 100%;
        height: 170%;
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px;
        box-shadow: 0px 5px 15px #999;
    }

    #details{
        padding-top: 30%;
    }

    button{
        width: 60%;
        margin-top: 10%;
        margin-left: 85%;
        padding: 4%;
        background-color: #106FFF;
        color: white;
        border: none;
        border-radius: 20px;  
        box-shadow: 0px 5px 15px #999; 
    }

    #details{
        margin-top: 5%;
        margin-left: 2%;
        line-height: 25px;
    }

    #details h3{
        color: #585858;
    }

    #details p:not(#custo){
        color: #797979;
    }

    #valores{
        display: flex;
    }

    #custo{
        margin-left: 5px;
        font-weight: bold;
        color: #2B7A1F;
    }

    h2{
        font-family: 'Inter';
        color: #585858;
        margin-bottom: 2%;
    }

    h3{
        font-family: 'Inter';

    }

    .caixa-op h3{
        font-family: 'Inter';
        color: white;
        font-weight: normal;
    }


    p{
        font-family: 'Inter';
        color: #DEDEDE;
        font-weight: normal; 
    }
}

