@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


* {
    margin: 0;
    border: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #00AD7F;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url();
}

@media screen and (max-width: 450px) {

    .titulo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 6%;
        margin-right: 4%;
        margin-top: 8%;
    }

    .titulo h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: white;
        font-size: 24px;
    }

    .titulo2 h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #585858;
        font-size: 24px;
    }

    p {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #797979;
    }

    h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #585858;
        font-size: 24px;
        font-size: 18px;
    }

    .total {
        display: flex;
        justify-content: center;
        height: 130vh;
        width: 100%;
        position: absolute;
        margin-top: 8%;
    }

    .cards {
        background-color: white;
        width: 93%;
        border-radius: 10px 10px 0px 0px;
    }

    .titulo2 {
        text-align: center;
        margin-top: 8%;
    }

    .card {
        margin-top: 6%;
        margin-left: 5%;
    }

    #extracard {
        margin-top: 15%;
    }

    input {
        width: 95%;
        height: 100px;
        background-color: #E5F7E7;
        border-radius: 10px;
        margin-top: 2%;
    }

    input[type="text"] {
        text-align: center;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Tablet ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 451px) and (max-width: 800px){

    .titulo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 6%;
        margin-right: 4%;
        margin-top: 5%;
    }

    .titulo h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: white;
        font-size: 30px;
    }

    .titulo2 h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #585858;
        font-size: 24px;
    }

    p {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #797979;
    }

    h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #585858;
        font-size: 24px;
        font-size: 18px;
    }

    .total {
        display: flex;
        justify-content: center;
        height: 160vh;
        width: 100%;
        position: absolute;
        margin-top: 5%;
       
    }

    .cards {
        background-color: white;
        width: 93%;
        border-radius: 10px 10px 0px 0px;
        margin: 0% 10% 0% 10%;
    }

    .titulo2 {
        text-align: center;
        margin-top: 8%;
    }

    .card {
        margin-top: 6%;
        margin-left: 5%;
    }

    #extracard {
        margin-top: 10%;
    }

    input {
        width: 95%;
        height: 100px;
        background-color: #E5F7E7;
        border-radius: 10px;
        margin-top: 2%;
    }

    input[type="text"] {
        text-align: center;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Desktop ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 801px){

    .titulo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 2%;
    }

    .titulo h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: white;
        font-size: 30px;
    }

    .titulo2 h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #585858;
        font-size: 24px;
    }

    p {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #797979;
    }

    h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #585858;
        font-size: 24px;
        font-size: 18px;
    }

    .total {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
        margin-top: 5%;
       
    }

    .cards {
        background-color: white;
        width: 93%;
        border-radius: 10px 10px 0px 0px;
        margin: 0% 15% 0% 15%;
    }

    .titulo2 {
        text-align: center;
        margin-top: 8%;
    }

    .card {
        margin-top: 6%;
        margin-left: 5%;
    }

    #extracard {
        margin-top: 5%;
    }

    input {
        width: 95%;
        height: 100px;
        background-color: #E5F7E7;
        border-radius: 10px;
        margin-top: 2%;
    }

    input[type="text"] {
        text-align: center;
    }

}