* {
  margin: 0;
  border: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #106fff;
}

@media screen and (max-width: 450px) {
  img {
    width: 40%;
  }

  #logo {
    text-align: center;
    margin-top: 25%;
  }

  .carregando {
    width: 30px;
    height: 30px;
    background-color: transparent;
    display: block;
    left: 44%;
    top: 50%;
    position: absolute;
    text-align: center;
    align-items: center;
    border: 5px solid rgb(255, 255, 255);
    border-top: 8px solid transparent;
    border-radius: 50%;

    animation: loading 1s linear infinite;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
