<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="../../../public/assets/css/BuscarCuidadores.css">
    <title>To Help</title>
</head>

<body>

    <!--Cabeçalho-->
    <header id="cabecalho">

        <div id="buscar">
            <h2>Buscar Cuidadores</h2>
            <label for="selecionar">Região de:</label>
            <select name="" id="selecionar">
                <option value="salvador">Salvador</option>
                <option value="feiraSantana">Feira de Santana</option>
                <option value="camacari">Camaçari</option>
                <option value="candeias">Candeias</option>
                <option value="simõesFilho">Simões Filho</option>
                <option value="jacobina">Jacobina</option>
                <option value="santoAmaro">Santo Amaro</option>
                <option value="pojuca">Pojuca</option>
            </select>
        </div>
        
        <div id="perfil">
            <span class="material-icons">person</span>
        </div>

    </header>


    <!--Principal-->
    <main id="principal">

        <div class="card">
            <div class="fotoCuidador">
                
            </div>
            <div class="infos">
                <h3>R$ XX/hr</h3>
                <p>hanana duskina fukunina pruskia vranks shamblema hunia freskinia</p>
            </div>
            
        </div>

        <div class="card2">
            <div class="fotoCuidador">

            </div>
            <div class="infos">
                <h3>R$ XX/hr</h3>
                <p>hanana duskina fukunina pruskia vranks shamblema hunia freskinia</p>
            </div>
        </div>

    </main>

</body>
</html>