<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <link rel="stylesheet" href="../../../public/assets/css/EditarInfoDependenteFechado.css" />
    <script src="JS/EditarInfoDepFechado.js"></script>

    <title>ToHelp</title>
  </head>
  <body>
    <!-- Cabeçalho -->
    <header id="cabecalho">
      <div id="info1">
        <h1>Editar Informações do Dependente</h1>
      </div>

      <div id="info2">
        <a href="ContaContratante.html"><span class="material-icons">arrow_forward_ios</span></a>
    </div>

    </header>

    <main>
  
    <section id="form">

        <div id="card">
            <p>Nome do Dependente 1</p>
            <h6>Código de Acesso: xxxxxxxxxx</h6>
            <div id="imgg"><a href="EditarInfoDependenteAberto.html"><img src="IMG/seta cinza.png" alt=""></a></div>
        </div>

        <div id="card">
            <p>Nome do Dependente 2</p>
            <h6>Código de Acesso: xxxxxxxxx</h6>
            <div id="imgg"><a href="EditarInfoDependenteAberto.html"><img src="IMG/seta cinza.png" alt=""></a></div>
        </div>

      <div id="btnSalvar">
        <button>SALVAR</button>
      </div>
    </section>
  </main>
  </body>
</html>
