<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToHelp - Relatório Cuidador</title>
    <link rel="stylesheet" href="../../../public/assets/css/RelatorioCuidador.css">
    <link rel="icon" type="image/x-icon" href="IMG/LogoPreta.png">
</head>

<body>

    <main>

    <div class="titulo">
        <h2>Relatórios</h2>
        <a href="ContaCuidador.html"><img src="IMG/seta cinza.png" alt="seta"></a>
    </div>
    <div class="total">
       <div class="card">
        <div class="info">
            <h2>Dia 18-20/05</h2>
            <p>Acompanhado(a): Maria Elizangela</p>
        </div>
        <a href="RelatorioCuidadorAberto.html"><input type="button" value="EDITAR" src="#"></a>
       </div>
       <div class="card">
        <div class="info">
            <h2>Dia 24</h2>
            <p>Acompanhado(a): Joana Marilene</p>
        </div>
        <a href="RelatorioCuidadorAberto.html"><input type="button" value="EDITAR" src="#"></a>
       </div>
       <div class="card">
        <div class="info">
            <h2>Dia 12-13/07</h2>
            <p>Acompanhado(a): Margarete Brito</p>
        </div>
        <a href="RelatorioCuidadorAberto.html"><input type="button" value="EDITAR" src="#"></a>
       </div>

    </div>

</main>
</body>

</html>